<h1>Series</h1>

<ul>
    {{#each seriesList}}
    <li>
        <p>{{title}} <br> {{description}}</p>
    </li>
    <form action="/series/{{@index}}?_method=DELETE" method="POST">
        <button type="submit">Delete Series</button>
    </form>
    {{/each}}
</ul>