<h1>Add New Series</h1>

<form action="/users/{{userId}}/series" method="POST">
    <div>
        <label for="title">Series Title</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="description">Series Description</label>
        <textarea name="description" type="text"></textarea>
    </div>
    
    <div>
        <button class="waves-effect waves-light btn-small" type="submit">Create Series</button>
    </div>
</form>