<h1>Welcome to Comic Tracker</h1>
<a href="/users/new"><button>Add a User</button></a>

<ul>
    {{#each users}}
    <li>
        <a href="/users/{{this._id}}/series">
            <p>{{name}}</p>
        </a>
    </li>
    {{/each}}
</ul>