 body {
  text-align: center;
  display: -ms-grid;
  background-color: rgb(200, 200, 200);
}
img.comics-images {
  max-width: 150px;
}
img.comics-image {
  max-width: 200px;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #F44336;
}
a.unstyled-links {
  color: inherit;
}
.nav-extended {
  margin: 0 0 20px 0;
  background-color: rgb(78, 78, 78);
}
ul.comics-list {
  margin: 0;
}
a.brand-logo {
  position: relative;
}
.btn, .btn-large, .btn-small {
  background-color: #F44336;
}

@media screen and (max-width: 992px) {
  a.brand-logo {
    position: absolute;
  }
}