 body {
  text-align: center;
  display: -ms-grid;
  color: white;
  background-image: url('../images/comics-collage.png')
}
img.comics-images {
  max-width: 150px;
}
img.comics-image {
  max-width: 200px;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #F44336;
}
a.unstyled-links {
  color: inherit;
}
.nav-extended {
  background-color: rgb(221, 63, 52);
  
}
ul.comics-list {
  margin: 0;
}
a.brand-logo {
  position: relative;
}
.btn, .btn-large, .btn-small {
  background-color: #F44336;
}
.background {
  background-color: rgba(0, 0, 0, 0.80);
}
h1, h2 {
  margin: 0 0 15px 0;
}
input, textarea {
  color: white;
  text-align: center;
}

@media screen and (max-width: 992px) {
  a.brand-logo {
    position: absolute;
  }
}