 body {
  text-align: center;
  display: -ms-grid;
}
img.comics-images {
  max-width: 150px;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #00B7FF;
}
a.brand-logo {
  text-align: center; 
}
a.unstyled-links {
  color: inherit;
}
