<h1>Add New User</h1>

<form action="/users" method="POST">
    <div>
        <label for="name"></label>
        <input type="text" name="name" placeholder="Name">
    </div>
    <div>
        <label for="username"></label>
        <input type="text" name="username" placeholder="Username">
    </div>
    
    <div>
        <button type="submit">Create User</button>
    </div>
</form>