<h1>New Comic</h1>

<form action="/users/{{userId}}/series/{{seriesId}}/comics" method="POST">
    <div>
        <input type="text" name="title" placeholder="Comic Title">
    </div>
    <div>
        <input name="writer" type="text" placeholder="Writer">
    </div>
    <div>
        <input name="publishedDate" type="text" placeholder="Publish Date">
    </div>
    <div>
        <input name="volumeNumber" type="text" placeholder="Volume Number">
    </div>
    <div>
        <input name="price" type="text" placeholder="Price">
    </div>
    <div>
        <input name="img" type="text" placeholder="Image URL">
    </div>
    <div>
        <button class="waves-effect waves-light btn-small" type="submit">Add Comic</button>
    </div>
</form>